h1 {
    color: red;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: yellow;
    text-align: center;
}
h2 {
    color: orangered;
    text-align: center;
}
body {
    background-color: black;
}
.styleli {
    color: yellow;
    font-weight: 300;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.stylevg {
    color: orange;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.align-center {
    text-align: center;
    list-style-position: inside;
}
.my-button {
    background-color: orange;
    color: maroon;
    padding: 5px 5px;
    border: 4px;
    cursor: pointer;
    text-align: center;
}
.images {
    width: 300px;
    height: auto;
}
.links {
    color: yellow;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
a {
    color: yellow;
}

.box {
    border: 1px solid yellow;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    border-width: 10px;
}